* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    padding-top: 90px; 
}
.bg {
  position: fixed;
  inset: 0;
  background: 
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("images/back\ 2.jpeg") center/cover no-repeat;
  filter: blur(1px);
  z-index: -1;
}


section {
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 20px;
}

.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-top: 10px;
    margin-bottom: 15px;
}

.profile-img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 15px 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.logo a:hover{
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

.navbar a:hover {
    color: #484848;
}

html {
    scroll-behavior: smooth;
}

#skills {
    margin-top: 30px;
}

.skill {
    max-width: 400px;
    margin: 15px auto;
    text-align: left;
}

.skill span {
    font-weight: bold;
}

.skill-bar {
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 5px;
}

.skill-fill {
    height: 25px;
    color: white;
    text-align: right;
    padding-right: 10px;
    line-height: 25px;
    border-radius: 20px;
    animation: loadBar 2s ease;
}

.skill-fill.html {
    width: 80%;
    background-color: #e34c26;
}

.skill-fill.css {
    width: 50%;
    background-color: #7226e4;
}

.skill-fill.js {
    width: 20%;
    background-color: #f0db4f;
    color: black;
}

.skill-fill.php {
    width: 50%;
    background-color: #3e20d2;
}

.skill-fill.lara {
    width: 50%;
    background-color: #ff0000;
}

.skill-fill.py {
    width: 20%;
    background: linear-gradient(135deg, #eeff00, #0037ff);
}

.skill-fill.go {
    width: 10%;
    background-color: #269be4;
}

@keyframes loadBar {
    from {
        width: 0;
    }
}

/* =====PORTOFOLIO==== */
#portofolio {
    margin-top: 40px;
}

.portofolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: 20px auto;
    place-items: center;
}

.card {
    
    background-color: rgb(46, 46, 46);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 10px;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    color: #009dff;
    text-decoration: none;
    font-weight: bold;
}
.card-a:hover{
color: #002990;
}

.project-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/*SERTIFIKAT*/
#sertifikat {
    margin-top: 40px;
    padding: 20px;
}

.sertih2 {
padding-bottom: 20px;
}

.sertifikat-wrapper {
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden; /* Sembunyikan yang keluar */
    position: relative;
}

.sertifikat-track {
    display: flex;
    gap: 20px;
    transition: transform 0.4s ease;
}

.sertifikat-img {
    width: 250px; /* UKURAN FIX, jangan pakai % */
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #ddd;
}

/* Tombol di bawah */
.sertifikat-nav {
    text-align: center;
    margin-top: 20px;
}

.sertifikat-btn {
    background: #ddd;
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.sertifikat-btn:hover {
    background: #555;
}


.contacth2 {
padding-bottom: 20px;
}

.linkcont-a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    background-color: #269be4;
    border-radius: 30px;
    margin: 10px;
    padding-inline: 15px;
}

.linkcont-a:hover {
  background-color: #0032b0;
}

.footer {
    background-color: #222;
    color: white;
    margin-top: 10px;
    font-size: 12px;
    padding: 10px;
}

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #222;
        text-align: center;
        display: none;
        flex-direction: column;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: block;
    }
}

/* Responsive */
@media (max-width: 768px) {
    .sertifikat-img {
        width: 250px;
        height: 180px;
    }
}

@media (max-width: 480px) {
    .sertifikat-img {
        width: 220px;
        height: 160px;
    }
}